
.wpbs-file-text {
	display: inline;
	float: left;

}

.wpbs-file-text-img {
	display: inline-block;
	float: right;
	margin: 0 auto;
	width: 64px;
	height: 64px;
	clear: both;
}

select.regular {
	width:350px;
}

.swal2-popup, .swal2-modal, .swal2-show {
	display: flex;
	top: -40%;
	opacity: .8;
	background: black;
	color: blue;
	font-size: 14px;
	/* padding: 0 0; */
	/* margin: 0; */
	line-height: .5;
	width: 29%;
}

.success.ajax {
	visibility: hidden;

	font-size: 18px;
	font-weight: 600;
	height: 30px;
	border: 1px 1px 1px black;
	height: 40px;
	vertical-align: middle;
	margin: 0 auto;
	padding: 20px 0 0 10px;
}