/*
 * Copyright (c) 2017  |  Netraa, LLC
 * netraa414@gmail.com  |  https://netraa.us
 *
 * Andrew Gunn  |  Owner
 * https://andrewgunn.org
 */

/*
    Document   : ure_admin
    Created on : 10.03.2010
    Author     : Vladimir Garagulya
    Description:
    User Role Editor plugin Admin Settings Page CSS
*/

/*
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.wp-bom-admin {

}

.wp-bom {
	text-align: left;
}

.wp-bom-settings .fa {
	font: 'Lato', sans-serif;

}

.wp-bom.settings-page {
	width: 100%;
}

.wp-bom.settings-page.sidebar {
	float: right;
	max-width: 30%;
	width: 100%;
}

.wp-bom-settings .wc-label {
	width: 33%;
	display: inline-block;
}

.wp-bom-settings .wc-field {

	display: inline-block;
}

.form_update_ouput {
	display: block;
	font-size: 2em;
	color: #00FF00;
}

/*************** WP BOM ADMIN SETTINGS PAGE ****************/
#wp-bom-admin-wrap, div#wp-bom-admin, form#wp-bom-admin-form {
}



 